h1 {
    color: crimson;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}
.center {
    width: 80%;
    list-style-position: inside;
    text-align: left;
    display: inline-block;
}
