body {
    background-color: darkolivegreen;
}

ul {
    color: white;
}

p { color: white}
h1 {
    color: white;
}

.fit-picture {
    width: 80%;
    list-style-position: inside;
    text-align: left;
    display: inline-block;
}
